@model Blizzard.Models.PlayerModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>World of Warcraft</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Create a new Character", "Create", "Character")
    </div>
    <div class="col-md-12">
        <table class="table-bordered col-md-12">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Faction</td>
                    <td>Race</td>
                    <td>Class</td>
                    <td>Active</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var character in Model.Player.Characters)
                {
                    <tr>
                        <td>@Html.ActionLink(character.Name, "Edit", "Character", new { id = character.Id }, null)</td>
                        <td>@character.Faction</td>
                        <td>@character.Race</td>
                        <td>@character.Class</td>
                        <td>@character.Active</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>