<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Wow Application</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color:#000000;color:#ffffff">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img height="30px" src="~/Content/images/Blizzard-Logo.jpg" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (((bool?)Session["OverRideIsAdmin"] == null && Request.IsAuthenticated && ((Blizzard.Models.CustomPrincipal)User).IsAdmin)
                            || (bool?)Session["OverRideIsAdmin"] != null && (bool?)Session["OverRideIsAdmin"] == true)
                    {
                        <li>@Html.ActionLink("Manage Accounts", "View", "Admin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        function GetRaceImage(race) {
            if(race == "Human") {
                return "/Content/images/Human.jpg";
            } else if (race == "Orc") {
                return "/Content/images/Orc.jpg";
            } else if (race == "Tauren") {
                return "/Content/images/Tauren.jpg";
            } else if (race == "BloodElf") {
                return "/Content/images/BloodElf.jpg";
            } else if (race == "Gnome") {
                return "/Content/images/Gnome.jpg";
            } else if (race == "Worgen") {
                return "/Content/images/Worgen.jpg";
            }
            return "";
        }
    </script>
</body>
</html>