@model Blizzard.Models.CharacterModel

@{
    ViewBag.Title = "Edit Character";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("CharacterEdit", "Admin", new { userName = Request.QueryString["userName"] }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Faction, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Faction, Model.FactionItems, new { id = "FactionDDL", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Faction)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Race, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Race, Model.RaceItems, new { id = "RaceDDL", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Race)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Class, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Class, Model.ClassItems, new { id = "ClassDDL", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Class)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Level, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Level, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Level)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Active, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(m => m.Active)
                        @Html.ValidationMessageFor(m => m.Active)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-4">
        <img id="RaceImage" width="300px" height="500px" />
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $().ready(function () {
            var factionDrop = $('#FactionDDL');
            var raceDrop = $('#RaceDDL');
            var classDrop = $('#ClassDDL');

            $().ready(function () {
                $('#RaceImage').attr('src', GetRaceImage(raceDrop.val()))

                factionDrop.change(function () {
                    selectRace(factionDrop.val());
                });

                raceDrop.change(function () {
                    $('#RaceImage').attr('src', GetRaceImage(raceDrop.val()));

                    selectClass(raceDrop.val());
                });
            });

            function selectRace(faction) {
                if (faction == "Horde") {
                    $('#RaceDDL option:contains(Orc)').show();
                    $('#RaceDDL option:contains(Tauren)').show();
                    $('#RaceDDL option:contains(BloodElf)').show();
                    $('#RaceDDL option:contains(Human)').hide();
                    $('#RaceDDL option:contains(Gnome)').hide();
                    $('#RaceDDL option:contains(Worgen)').hide();

                    $("#RaceDDL").val("Orc");
                }
                else {
                    $('#RaceDDL option:contains(Orc)').hide();
                    $('#RaceDDL option:contains(Tauren)').hide();
                    $('#RaceDDL option:contains(BloodElf)').hide();
                    $('#RaceDDL option:contains(Human)').show();
                    $('#RaceDDL option:contains(Gnome)').show();
                    $('#RaceDDL option:contains(Worgen)').show();

                    $("#RaceDDL").val("Human");
                }

                $('#RaceImage').attr('src', GetRaceImage(raceDrop.val()))
            }

            function selectClass(race) {
                if (race == "Orc") {
                    $('#ClassDDL option:contains(Warrior)').show();
                    $('#ClassDDL option:contains(Druid)').hide();
                    $('#ClassDDL option:contains(DeathKnight)').show();
                    $('#ClassDDL option:contains(Mage)').show();

                    $("#ClassDDL").val("Warrior");
                }
                else if (race == "Tauren") {
                    $('#ClassDDL option:contains(Warrior)').show();
                    $('#ClassDDL option:contains(Druid)').show();
                    $('#ClassDDL option:contains(DeathKnight)').show();
                    $('#ClassDDL option:contains(Mage)').show();

                    $("#ClassDDL").val("Warrior");
                }
                else if (race == "BloodElf") {
                    $('#ClassDDL option:contains(Warrior)').hide();
                    $('#ClassDDL option:contains(Druid)').hide();
                    $('#ClassDDL option:contains(DeathKnight)').show();
                    $('#ClassDDL option:contains(Mage)').show();

                    $("#ClassDDL").val("Mage");
                }
                else if (race == "Human") {
                    $('#ClassDDL option:contains(Warrior)').show();
                    $('#ClassDDL option:contains(Druid)').hide();
                    $('#ClassDDL option:contains(DeathKnight)').show();
                    $('#ClassDDL option:contains(Mage)').show();

                    $("#ClassDDL").val("Warrior");
                }
                else if (race == "Gnome") {
                    $('#ClassDDL option:contains(Warrior)').show();
                    $('#ClassDDL option:contains(Druid)').hide();
                    $('#ClassDDL option:contains(DeathKnight)').show();
                    $('#ClassDDL option:contains(Mage)').show();

                    $("#ClassDDL").val("Warrior");
                }
                else if (race == "Worgen") {
                    $('#ClassDDL option:contains(Warrior)').show();
                    $('#ClassDDL option:contains(Druid)').show();
                    $('#ClassDDL option:contains(DeathKnight)').show();
                    $('#ClassDDL option:contains(Mage)').show();

                    $("#ClassDDL").val("Warrior");
                }
            }
        });
    </script>
}