@model Blizzard.Models.PlayerModel

@{
    ViewBag.Title = "Edit Player";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("PlayerEdit", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.Player.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <label class="form-control">@Model.Player.UserName</label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Player.IsAdmin, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(m => m.Player.IsAdmin)
                        @Html.ValidationMessageFor(m => m.Player.IsAdmin)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table-bordered col-md-12">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Faction</td>
                    <td>Race</td>
                    <td>Class</td>
                    <td>Active</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var character in Model.Player.Characters)
                {
                    <tr>
                        <td>@Html.ActionLink(character.Name, "CharacterEdit", "Admin", new { id = character.Id, userName = Model.Player.UserName }, null)</td>
                        <td>@character.Faction</td>
                        <td>@character.Race</td>
                        <td>@character.Class</td>
                        <td>@character.Active</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}